[submodule "src/clip"]
	path = src/clip
	url = git@github.com:openai/CLIP.git
[submodule "src/taming-transformers"]
	path = src/taming-transformers
	url = git@github.com:CompVis/taming-transformers.git
